.brand-statement {
    position: absolute;
    width: 600px;
    display: block;
    height: 95px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 45px;
    color: #5a5555;
    top: 30%;
    left: 20%;
    margin: 0%;
    
}


.top-square {
    display: block;
    position: absolute;
    width: 1065px;
    height: 693px;
    left: 30%;
    top: 10%;
    background: rgba(238, 74, 74, 0.363);
    border-radius: 10px;
   z-index: 0;
   margin: 0%;
}

.bottom-square {
    display: block;
    z-index: -1;
    position: absolute;
    width: 1065px;
    height: 693px;
    left: 6%;
    top: 8%;
    background: rgba(44, 106, 111, 0.473);
    border-radius: 10px;
    margin: 0%;
}

.middle-sqr {
    display: block;
    z-index: 1;
    position: absolute;
    width: 1003px;
    height: 638px;
    left: 33.3%;
    top: 16.2%;
    background: rgb(231, 222, 203);
    border-radius: 10px 0px 10px 0px;
    margin: 0%;
} 

.londa {
    display: block;
    position: absolute;
    width: 467px;
    height: 95px;
    top: 6%;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 45px;

    color: #818181;
}

.left-top-border {
    position: absolute;
    width: 429px;
    height: 429px;
    left: -2%;
    top: -3%;
    display: block;
    border-left: 2px solid #818181;
    border-top: 2px solid #818181;
    border-radius: 10px 0px 0px 0px;
}

.right-bottom-border {
    display: block;
    position: absolute;
    width: 429px;
    height: 429px;
    left: 68%;
    top: 49%;
    border-radius: 0px 0px 10px 0px;
    border-right: 2px solid #818181;
    border-bottom: 2px solid #818181;
}




.bg_img_change {
    display: block;
    animation: changeBg 2s infinite;
    width: 400px;
    height: 200px;
    max-width: 400px;
    max-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-size: contain;
    overflow: hidden;
    left: 25%; 
    top:57%; 
    z-index: 3;
}


@keyframes changeBg {

    0%,
    100% {

        background-image: url("../../amazing/amazing1.png")
    }

    25% {

        background-image: url("../../amazing/amazing2.jpg")
    }

    50% {

        background-image: url("../../amazing/amazing5.jpg")
    }
    75% {

        background-image: url("../../amazing/amazing4.jpg")
    }

    89% {

        background-image: url("../../amazing/amazing3.png")
    }
}

