.banner {
    text-align: center;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   background-position: center;
   width: 100%;
   height: 100%;
   background-color:#f5e2e2;
   overflow: hidden;
   padding: 4ch; 
}

.brand-statement {
    position: relative;
    display: flex; 
    flex-direction: column;
    width:50%;
    height: 70%;
    border-radius: 2ch;
    background: rgba(207, 186, 186, 0.164);
    box-shadow: rgba(99, 9, 9, 0.25) 0px 25px 50px -12px;
    top: 11ch;
    padding-left: 10ch;
    left: 30ch; 
    margin: 0%;
    overflow: hidden;
}
.brand-txt{
    display: flex;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: 400;
    padding-top: 6ch; 
    font-size: 50px;
    line-height: 45px;
    color: #707070;
    padding-left: 2ch;
    text-shadow: 0px 4px 4px rgba(202, 52, 52, 0.25);
}

/* /* 
.middle-sqr {
    display: flex;
    order:2; 
    z-index: 2;
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 10ch;
    left: 63ch;
    top: 10ch;
    background: rgba(27, 158, 66, 0);
    /* border-radius: 10px 10px 10px 10px;
    margin: 0%;
    box-shadow: 20px 20px rgba(44, 107, 111, 0.58);
    border: 10px 10px 10px 10px solid rgba(26, 43, 28, 0.74);
    
    border-radius: 20px;
    border: 0.5rem solid rgba(44, 107, 111, 0.58);
    outline: 0.5rem double rgb(182, 191, 194);
    box-shadow: 0 0 0 1rem rgb(235, 170, 170);
    overflow: hidden;
}/* */





.bg_img_change {
    display: flex;
    animation: changeBg 3s infinite;
    width: 100%;
    height: 15ch;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    left: -3ch;
    z-index: 0;
    padding-bottom: 0ch;
    padding-top: 1ch;
}


@keyframes changeBg {

    0%,
    100% {

        background-image: url("../../Assets/Images/amazing1.png")
    }

    25% {

        background-image: url("../../Assets/Images/amazing2.png")
    }

    50% {

        background-image: url("../../Assets/Images/amazing3.png")
    }

    75% {

        background-image: url("../../Assets/Images/amazing4.png")
    }

    89% {

        background-image: url("../../Assets/Images/amazing5.png")
    }
}
.close-btn {
    background-color: #d8343400;
    position: absolute;
    margin-right: 2ch;
    color: #818181;
    width: 54px;
    height: 55px;
    border: 2px solid #7a7a7a;
    border-radius: 100%;
    left: 1.3ch;
    top: 1ch;
    font-size: 40px;
    z-index: 5;
    word-wrap: break-word;
    text-shadow: 0px 3px 4px rgba(202, 52, 52, 0.25);
    
}

.wrapper-sqr-about-me {
    top: 1ch; 
    right: 0ch;
    z-index: 0;
    position:fixed;
    display: flex;
    justify-content: flex-end;
    height:900px;
    width: 100%;
    background-color:#f5e2e2;
    border-radius: 10px 0px 10px 0px;
    overflow: hidden;
   
}

.about-me-bg {
    position: absolute;
    display: block; 
    flex-direction: column;
    width:50%;
    height: 75%;
    border-radius: 2ch;
    background: rgba(207, 186, 186, 0.164);
    box-shadow: rgba(99, 9, 9, 0.25) 0px 25px 50px -12px;
    top: 10ch;
    padding-left: 10ch;
    left: 65ch; 
    margin: 0%;
    overflow: hidden;
  
}
.about-me-txt {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin-right: 20px;
    height: 160px;
    word-wrap: break-word;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    color: #818181;
    top: 60px; 
    left: 0px;
    text-align: left;
    padding-right: 2ch;
    z-index: 3;
}



.resume_container {
    
}




.close-btn-resume {
    background-color: #81818100;
    position: absolute;
    color: #242424;
    width: 30px;
    border: 2px solid #414040;
    border-radius: 100%;
    left: 107ch;
    bottom: 75ch;
    font-size: 20px;
    z-index: 2;

}


.react-pdf__Document {
    width: 0%;
    height: 0%;
    background-color: rgb(228, 228, 228);
    position: relative;
    right: 40ch;

}

.react-pdf__Page {
    position: relative;
    display: block; 
    width:100%;
    height: 100%;
    border-radius: 2ch;
    margin: 0%;
    overflow: auto;
}

.react-pdf__Page__canvas {
    width: 100%;
    height: 100%; 
    position: fixed;
    display: block;
    align-items: center;
    z-index: 2;
    left:74ch; 
    top:3ch; 
    border-radius: 10px;
    box-shadow: rgba(99, 9, 9, 0.25) 0px 25px 50px -12px;
}

.react-pdf__Page__textContent {
    display: none;
}




@media screen and (max-width: 750px) {
    .brand-statement {
        width: 600px;
        height: 95px;
        font-size: 50px;
        top: 500px;
        left: -100px;

    }

    .middle-sqr {
        left: 66px;
        font-size: 22px;
    }

    .londa {
        bottom: 600px;
        left: 2ch;
        font-size: 55px;

    }

    .left-top-border {
        display: none;
    }

    .right-bottom-border {
        display: none;
    }



    .bg_img_change {
        left: -2ch;
        bottom: 10ch;

    }
}