.side-nav-bar {
    display: block;
    height: 300%;
    width: 100%;
    position: relative;
    z-index: 22;
    top: 66px;
    left: 5ch;
    background-color: rgba(17, 17, 17, 0);

    padding-top: 10px;
    transition: 0.5s;
    margin: 0%;
    
}

.side-nav-bar button {
    display: block;
    padding: 30px 30px 30px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: left;
    z-index: 4;
    border: none;
    margin: 0%;
    background: rgba(231, 222, 203, 0);
    border-bottom: 2px solid #818181;

}

.side-nav-bar button:hover {
    color: rgba(44, 107, 111, 0.58);
}

.email-img {
    position: relative;
    height:12%;
    width: 20%;

    z-index: 22;
    padding-left: 1ch;
}

.github-img {
    position: relative;
    height:12%;
    width: 20%;
 
    z-index: 22;
    padding-left: 3ch;
}

.linkedin-img {
    position: relative;
    height:12%;
    width: 20%;
    
    z-index: 22;
    padding-left: 3ch;
}


.email-img:hover {
    color: rgba(44, 107, 111, 0.58);
}

.about-me {

    background-color: #c451b100;
    text-decoration: none;
    font-size: 20px;
    color: #7a7a7a;
    display: block;
    z-index: 2;
}

.connect-links {
    position: relative;
    bottom:155ch; 
    left: 8ch;
    height: 500px;
    width: 300px;
    margin: none;

    z-index: 1;
  

}

@media screen and (max-height: 450px) {
    .connect-links {
        padding-top: 15px;
    }

    .side-nav-bar {
        padding-top: 15px;
    }

    .side-nav-bar a {
        font-size: 18px;
    }
}

.about-me-bg {
    position: relative;

    width: 1014px;
    height: 641px;
    left: 63ch;
    bottom: 185.1ch;
    background: rgb(231, 222, 203);
    border-radius: 10px 0px 10px 0px;
    z-index: 2;
}


.about-me-txt {
    position: relative;
    width: 600px;
    height: 95px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 45px;
    color: #818181;
    top: 30%;
    left: 20%;
}

.close-btn {
    background-color: #d8343400;
    position: relative;
    color:#818181;
    width: 54px;
    height:55px;
    border: 2px solid #7a7a7a;
    border-radius: 100%;
    left: 18ch;
    top: 2ch;
    font-size: 40px;
    z-index: 5;
}

.close-btn-resume {
    background-color: #81818100;
    position: relative;
    color:#818181;
    width: 54px;
    height:55px;
    border: 2px solid #7a7a7a;
    border-radius: 100%;
    left: 20ch;
    bottom: 196ch;
    font-size: 40px;
    z-index: 22;
   
}
 .close-btn-resume button:hover{
  color:#07b4f8
}

.react-pdf__Document {
    width:0%;
    height: 0%;
    background-color: rgb(228, 228, 228);
    position: relative;
 
}

.react-pdf__Page {
    top: 2.1ch;
    right: -10px;
    position: relative;
    align-items: left;

}

.react-pdf__Page__canvas {
    left: 24ch;
    bottom: 325.5ch;
    position: relative;
    align-items: center;
    z-index: 4;
    border: 5px solid #7a7a7a; 
}

.react-pdf__Page__textContent {
    display: none;
}


.top-sqr {
    display: block;
    position: relative;
    width: 666px;
    height: 838px;
    left: 20ch;
    bottom: 133ch;
    background: rgb(235, 170, 170);
    border-radius: 10px;
    z-index: 3;
    margin: 0%;
}

.btm-sqr {
    display: block;
    z-index: 2;
    position: relative;
    width: 666px;
    height: 837px;
    left: 25ch;
    bottom: 225ch;
    background: rgba(44, 106, 111, 0.473);
    border-radius: 10px;
    margin: 0%;
}

 
.wrapper-sqr {
    display: block;
    z-index: 0;
    position: relative;

    width: 1600px;
    height: 1042px;
    right: 10ch; 
    bottom: 11ch;
    background: rgb(228, 228, 228);
    border-radius: 10px 0px 10px 0px;
    margin: 0%;
    
}  
.v-line {
position: relative;
width: 385.01px;
height: 0px;
right: 10ch; 
bottom: 303ch;
border: 1px solid #818181;
transform: rotate(90deg);
}
.v-line2 {
    position: relative;
    width: 385.01px;
    height: 0px;
    left: 88ch; 
    bottom: 250ch;
    border: 1px solid #818181;
    transform: rotate(90deg);
    }