.home {
    text-align: center;
     position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    width: 100%;
    
    margin: 0 auto; 
    background-size: cover;
    /* padding: 50px 50px 50px 49px;  */
    overflow: hidden;
  }
  
  .projects {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    background-size: cover;
    padding: 20px; 
  }


  @media only screen and (max-width: 730px) {
    .home {
      padding: 20px;
      overflow: scroll;
    }
  }