.each-project-container {
    position: relative;
   
    text-align: left;
    left: 700px;
    top: 60px;
    width: 50%;
    height: 200ch;
    border-radius: 0%; 
}


.eachProject_section__padding {
    overflow: hidden;
    padding: 2ch;
    position: relative;

}