/* .each-project-container {
    position: relative;
    justify-content: flex-start;
    padding: 2ch;
    position: relative;
    text-align: left;
    left: 700px;
    top: 60px;
    width: 50%;
    height: 200ch;
    border-radius: 0%; 
}


.eachProject_section__padding {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2ch;
    position: relative;

} */