.footer-container {
    background-color: rgb(243, 222, 222);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: #707070;
}

.copyright {
    position: relative;
    text-align: center;
    width: 100%;
    bottom: 1ch;
}

.mepic {
    width: 50ch;
    height: 40ch;

    position: relative;
    top: 69ch;
    left: 0ch;
    z-index: 0;
    background-color: #24242400;
}


@media screen and (max-width: 1380px) {

    .mepic {
        left: 1%;


    }
}




@media screen and (max-width: 790px) {
    .footer-content {
        display: none;


    }



    .mepic {
        position: absolute;
        top: 80ch;
    }

}