html,
body {
  height: 1000vh;
  width: 1000vh;
  box-sizing: border-box;
  margin-bottom: 0;
  background-color: pink;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: pink;
 }