body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background: rgb(255, 236, 236);
  
}

#root {
  height: 2%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background: rgb(94, 54, 54);
 }

@media screen and (max-width: 790px) {
  html,
    body {
      position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0px; 
  margin: 0;

}
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background: rgb(255, 255, 255);
 }


}
